@{
    ViewBag.Title = "Solucoes";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

@section ESTILOS{
}

@section SCRIPTS{
}
<fieldset>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <fieldset>
                    <legend>
                        Soluções
                    </legend>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="col-xs-6 .col-md-4">
                        <div>
                            <img src="http://www.hlp.com.br/imagens/Portal/Solucoes/magnificus.png" alt="Magnificus" width="80" height="80" />
                        </div>
                    </div>
                    <div class="col-xs-12 .col-md-8">
                        O ERP MAGNIFICUS EVOLUTION é um sistema integrado, modular e extremamente flexível,
                        idealizado para atender às empresas que ainda não contam com um sistema integrado de gestão.
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    @Html.ActionLink(linkText: "Saiba Mais", actionName: "Index",
                    controllerName: "Solucoes/MagnificusEs", routeValues: new object[] { },
                             htmlAttributes: new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="col-xs-6 .col-md-4">
                        <div>
                            <img src="http://www.hlp.com.br/imagens/Portal/Solucoes/Logo.png" alt="Magnificus ES" width="80" height="80" />
                        </div>
                    </div>
                    <div class="col-xs-12 .col-md-8">
                        O ERP MAGNIFICUS ES é baseado no ERP MAGNIFICUS EVOLUTION desenvolvido com novas tecnologias baseadas na plataforma
                        Microsoft .NET.
                    </div>
                </div>
                <div class="col-xs-6 col-md-4"><input class="btn btn-info" type="button" value="Saiba Mais..." /></div>
            </div>
        </div>
    </div>
</fieldset>