@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

<fieldset>
    <div class="container">
        <div class="row clearfix">
            <fieldset>
                <legend>
                    Magnificus EVOLUTION
                </legend>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-6 column">
                <br />
                O ERP MAGNIFICUS Evolution é um sistema integrado, modular e extremamente flexível,
                idealizado para atender às empresas que ainda não contam com um sistema integrado de gestão.
                <br />
                <br />
                O sistema é 100% modular, o que permite o gerenciamento das informações em nível departamental e de forma corporativa. É possível personalizar e integrar os módulos, dando as características das regras individuais de negócio
                de cada empresa, com alto grau de aderência. Além disso, apresenta soluções completas de CRM e Business Intelligence, que dão suporte gerencial e estratégico à toda a parte operacional.
            </div>
            <div class="col-md-6 column">
                <img src="http://www.hlp.com.br/imagens/Portal/Solucoes/magnificusesindex1.jpg" width="250" height="250" />
            </div>
        </div>
    </div>
</fieldset>